<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<nav th:fragment="navbar"
     class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top"
     style="z-index: 10;">
    
    <!-- Botón hamburguesa -->
    <button class="navbar-toggler ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Izquierda -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          
           <!-- Usuario LOGUEADO -->
<li class="nav-item dropdown d-flex align-items-center user-nav-item"
    sec:authorize="isAuthenticated()">


    <a class="nav-link dropdown-toggle d-flex align-items-center"
       href="#"
       id="userDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">

        <i class="bi bi-person-circle fs-4 me-1"></i>
        <!-- email o username -->
        <span sec:authentication="name">Usuario</span>
    </a>

        <ul class="dropdown-menu dropdown-menu-start shadow user-dropdown">
        <li>
            <a class="dropdown-item" th:href="@{/cuenta}">Mi cuenta</a>
        </li>
        <li>
            <a class="dropdown-item" th:href="@{/pedidos}">Mis pedidos</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item text-danger" th:href="@{/logout}">
                Cerrar sesión
            </a>
        </li>
    </ul>
</li>


        <!-- Usuario NO LOGUEADO -->
<li class="nav-item d-flex align-items-center"
    sec:authorize="isAnonymous()">
    <a class="nav-link me-2" th:href="@{/login}">
        <i class="bi bi-box-arrow-in-right me-1"></i> Login
    </a>
</li>

<li class="nav-item"
    sec:authorize="isAnonymous()">
    <a class="nav-link"
       href="#"
       data-bs-toggle="modal"
       data-bs-target="#registroModal">
        <i class="bi bi-person-plus me-1"></i> Registro
    </a>
</li>



            <!-- Menú existente -->
<li class="nav-item">
    <a class="nav-link" th:href="@{/#home}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" th:href="@{/#about}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" th:href="@{/#menu-list}">Productos</a>
</li>


        <!-- Logo central -->
        <a class="navbar-brand mx-lg-auto d-none d-lg-flex align-items-center" href="#">
            <img src="assets/imgs/logo.png" class="brand-img me-2" alt="WeedTlanMx">
            <span class="brand-txt">WeedTlanMx</span>
        </a>

        <!-- Derecha -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/#testmonial}">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/#contact}">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/privacy}">Políticas</a>
            </li>
            <li class="nav-item ms-lg-3">
                <button class="btn custom-register-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#modal">
                    Inscribirse
                </button>
            </li>
        </ul>

    </div>
</nav>

</body>
</html>
