<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::title}, ~{::content})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:fragment="title">STRIDE — Sneakers Premium</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/stride.css">
</head>

<body>

<div th:fragment="content">


    <div th:replace="~{fragments/hero :: hero}"></div>
    <div th:replace="~{fragments/trust-bar :: trustBar}"></div>
    <div th:replace="~{fragments/brands :: brands}"></div>
    <div th:replace="~{fragments/products :: products}"></div>
    <div th:replace="~{fragments/banner :: banner}"></div>
    <div th:replace="~{fragments/categories :: categories}"></div>
    <div th:replace="~{fragments/testimonials :: testimonials}"></div>
    <div th:replace="~{fragments/newsletter :: newsletter}"></div>  
    </div>

</body>
</html>